<h1> Welcome User : @ViewData["User"]; !</h1>

<div>
    Latest login: @ViewData["LatestLogin"]; <br />
    Number of login this month : @ViewData["NrOfLoginsMonth"]; <br />
    Number of messages sent : @ViewData["NrOfMessagesSent"]; <br />
    Number of recieved messages : @ViewData["NrOfMessagesRecv"]; <br />
    Number of unread messages: @ViewData["NrOfUnreadMessages"]; <br />
</div>
